.xp-container {
  @apply flex h-screen w-screen flex-col items-center justify-center bg-black;

  .xp-box {
    @apply text-white;
  }

  .xp-loading-wrap {
    @apply relative z-10 mt-8 flex h-6 bg-black;

    .xp-loading-container {
      @apply h-6 w-72 rounded border border-gray-400;

      .square {
        @apply absolute top-1 z-0 h-4 w-4 rounded bg-blue-600;
      }
      .square-animations {
        animation: moveRight 5s linear infinite;
      }
    }
    .xp-hide-square {
      @apply relative z-20 h-6 w-10 bg-black;
    }
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(18rem);
  }
}
